Binaries/
DerivedDataCache/
Intermediate/
Saved/
Content/Assets/
Plugins/
Build/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.zip
Content/Merged/Maps/Beta.umap
Content/Merged/Maps/Beta.umap
Content/Merged/Maps/Gamma.umap
Content/Merged/Maps/Delta.umap
